// _mixins.scss
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin button-style($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: $spacing-small $spacing-medium;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    &:hover {
      background-color: darken($bg-color, 10%);
    }
  }
  