// styles.scss
@import 'variables';
@import 'mixins';
@import 'theme';
@import 'header';
@import 'balance';
@import 'transactionList';
@import 'addTransactionForm';

// General resets or global styles
body {
  font-family: $font-family-base;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
}
