// styles.scss
@import 'variables';
@import 'mixins';
@import 'theme';
@import 'header';
@import 'balance';
@import 'transactionList';
@import 'addTransactionForm';

// General resets or global styles
html, body {
  height: 100%; // Ensure html occupies full height
  margin: 0; // Remove default margin
}

body {
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
  overflow: hidden; // Prevent overflow if necessary
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw; // Full width
  height: 100vh; // Full height
}

// Theme styles
body.light {
  background-color: #ffffff; // Light theme background
  color: #000000; // Light theme text color
}

body.dark {
  background-color: #000000; // Dark theme background
  color: #ffffff; // Dark theme text color
}
